
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .custom-container {
    max-width: 680px;
    margin: 0 auto;
} 
.sectino-padding {
    padding: 0px 0px;
}
a.buy-btn {
    line-height: 36px;
    font-size: 25px;
    }
    .header-logo {
    max-width: 768px;
    margin: 0 auto;
}
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
   .sectino-padding {
    padding: 0px 0px;
}
.custom-container {
    padding: 0px 20px;
}
.section3 h2 {
    font-size: 25px;
}
a.buy-btn {
    line-height: 24px;
    font-size: 20px;
    }
    .custom-container2 {
    max-width: 100%;
    padding: 0px 20px;
}
.section-1 h1 {
    margin-bottom: 30px;
    font-size: 25px;
}
.header-logo {
    padding: 0px 20px;
}
.section-1 {
    padding-top: 30px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) { 
   .section-1 h1 {
    margin-bottom: 30px;
    font-size: 20px;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-bottom: 20px;
}
.section3 h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
a.buy-btn {
    line-height: 23px;
    font-size: 16px;
}
.small-yellow p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
}